.textContainer {
  margin-top: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 10vh;
  height: 80vh;
  width: 80vw;
  /* padding-top: 5px;
  padding-bottom: 5px; */
  /* padding-top: 5vh;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  padding-bottom: 5vh; */

  background-color: #654311;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; */
}

.title {
  color: white;
  padding-top: 1vh;
}

.aboutBtns {
  margin-top: 0.5%;
  margin-bottom: 0;
}

.aboutTab {
  display: inline-block;
  margin: 0px 5px;
  color: white;
  cursor: pointer;
}

.aboutHover {
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transform: scale(1.0);
}

.aboutHover::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.6);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

.aboutHover:hover::after,
.aboutHover:focus::after {
  opacity: 1;
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  transform: translateY(2px);
  font-weight: bold;
}

.aboutHover:hover,
.aboutHover:focus {
  outline: none;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.aboutActive {
  /*    transition-duration: 0.3s;*/
  transform: scale(1.1);
  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.textLine {
  margin-bottom: 0;
  color: white;
  line-height: 1.5;
}