/* .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
} */

.logo {
  position: absolute;
  z-index: 999;
  width: 14vh;
  margin: 3vh 2.5vw;
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 10vh;
    margin: 0 0 0 2.5vw;
    padding: 0;
  }
}