.overlay {
  /* height: 100vh;
  width: 100vw;
  min-height: 640px; */
  height: 10vh;
  width: 100vw;
  min-height: 64px;

  margin-top: -10vh;
  margin-left: 2.5vw;

  z-index: 999;

  position: -webkit-sticky;
  position: sticky;
  /* bottom: 0; */
  top: 90vh;

  display: flex;
  align-items: center;

  /* background-color: rgba(32, 65, 25, 0.7); */
}

.copyright {
  font-size: 12px;
}

.logo {
  position: absolute;
  z-index: 999;
  width: 14vh;
  margin: 3vh 2.5vw;
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 10vh;
    margin: 1.5vh 2.5vw;
  }
}