.container {
  height: 100vh;
  width: 100vw;
  /* padding: 10px 15px 0px;
  background-color: #313131;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

  /* display: flex;  */
  /* flex-direction: column; */
  align-content: center;
  justify-content: center;

  text-align: center;
  /* background: linear-gradient(141deg, #d32f2f 0%, #bb2f2f 51%, #922f2f 75%); */
  background-color: #212121;
}