* {
  font-family: Oxygen !important;
  box-sizing: border-box;
}

body, html {
  font-family: 'Oxygen';
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* box-sizing: border-box; */
}

body {
  /* height: 100vh;
  width: 100vw; */
}

h1 {
  /* font-size: calc(28px + (36 - 28) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.2 + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));  */
  /* font-size: 2em; */
  font-size: calc(2em + (3 - 2) * ((100vw - 300px) / (1600 - 300)));
}

p {
  font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.2 + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300))); 
}