/* 
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
} */

* {
  font-family: Oxygen !important;
  box-sizing: border-box;
}

body, html {
  font-family: 'Oxygen';
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* box-sizing: border-box; */
}

body {
  /* height: 100vh;
  width: 100vw; */
}

h1 {
  font-size: calc(2em + (3 - 2) * ((100vw - 300px) / (1600 - 300)));
}

p {
  font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.2 + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300))); 
}

button {
  text-decoration: none;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: white;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}